@import "../common";

.checkboxContainer {
  input[type="checkbox"] {
    position: absolute;
    left: -9999px;
    opacity: 0;

    + label {
      cursor: pointer;
    }

    + label > span {
      margin-left: 10px;
    }

    + label:before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;

      background-image: url('./check.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 0%;
      background-color: #ffffff;

      border: 1px solid $grey-light-1;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px 0 $grey-light-1;
      vertical-align: middle;

      transition: .2s;
      transition: background-size .4s s;
    }

    + label:hover:before {
      border: 1px solid $primary-color-light-2;
    }

    &:checked {
      + label:before {
        background-color: $primary-color;
        background-size: 100%;
        border: 1px solid $primary-color;
        box-shadow: inset 0 1px 2px 0 $primary-color;
      }

      &:disabled {
        + label:before {
          background-image: url('./check-disabled.svg');
        }
      }
    }

    &:focus + label:before {
      border-color: $primary-color-light-2;
    }

    &:disabled {
      + label:before {
        border-color: #dadfe3;
        background-color: #f2f4f5;
        box-shadow: inset 0 1px 2px 0 #f2f4f5;
      }
    }
  }
}
