.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@import "animations/bouceIn";
@import "animations/bounceInUp";
@import "animations/fadeInUp";
@import "animations/flipInY";
@import "animations/shake";
@import "animations/slideInUp";
