@import "../common";

@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-open {
  from {
    transform: scale3d(1.1, 1.1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.disableScroll {
  overflow: hidden;
}

.modalOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  transition: opacity 0.2s ease;
  background: rgba(2, 12, 19, 0.75);

  display: none;

  &.show {
    display: block;
    animation: modal-overlay-open 0.2s ease;

    .modal {
      animation: modal-open 0.2s ease;
    }
  }

  &.hiding {
    display: block;
    opacity: 0;

    .modal {
      transform: scale3d(0.9, 0.9, 1);
    }
  }
}

.modal {
  border: 1px solid $grey-light-4;
  border-radius: $base-border-radius;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  width: 40em;

  background-color: #ffffff;

  transition: transform 0.2s ease;

  &.small {
    width: 20em;
  }

  &.large {
    width: 60em;
  }
}

.modalHeader, .modalBody {
  padding: 20px;
  max-height: 70vh;
  overflow: auto;
  max-width: 90vw;
}

.modalHeader {
  background-color: $grey-light-5;
  border-bottom: 1px solid $grey-light-4;
  position: relative;

  h3 {
    color: $grey-dark-5;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
  }

  button {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    margin-top: -15px;
    cursor: pointer;
    padding: 0;

    &:hover {
      background-color: $grey-light-4;
    }
  }

  img {
    width: 15px;
    height: 12.5px;
  }
}

.modalFooter {
  border-top: 1px solid $grey-light-4;
  padding: 15px 20px;
  text-align: right;

  button:not(:last-child) {
    margin-right: 10px;
  }
}
