@import "../common";

@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-open {
  from {
    transform: scale3d(1.1, 1.1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.disableScroll {
  overflow: hidden;
}

.container {
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: opacity 0.2s ease;

  display: none;

  &.show {
    display: block;
    animation: modal-overlay-open 0.2s ease;

    .modal {
      animation: modal-open 0.2s ease;
    }
  }

  &.hiding {
    display: block;
    opacity: 0;

    .modal {
      transform: scale3d(0.9, 0.9, 1);
    }
  }
}

.modal {
  border: 1px solid $grey-light-4;
  border-radius: $base-border-radius;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  z-index: 1050;
  position: relative;
  background-color: #ffffff;

  transition: transform 0.2s ease;

  &.small {
    width: 100%;
    max-width: 20em;
  }

  &.medium {
    width: 100%;
    max-width: 40em;
  }

  &.large {
    width: 100%;
    max-width: 60em;
  }
}

.modalHeader, .modalBody {
  padding: 20px;
  width: 100%;
}

.modalHeader {
  position: relative;

  h4 {
    color: $grey-dark-5;
    font-weight: $font-weight-regular;
    line-height: $base-line-height;
  }
}

.modalFooter {
  border-top: 1px solid $grey-light-4;
  padding: 15px 20px;
  text-align: right;

  button:not(:last-child) {
    margin-right: 10px;
  }
}

.closeModal {
  font-size: 20px;
  color: $grey-light-4;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.modalBackdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #FFFFFF;
  opacity: .6;
}