@import "../common";
@import "../Visibility/Visibility";
$headerFooterHeight: 69px;
@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modal-open {
  from {
    transform: scale3d(1.1, 1.1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.modalOpened {
  overflow: hidden;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  background-image: url("./blur.svg");
}

.container {
  // Only apply to small - full screen modal
  @include breakpoint(small only) {
    bottom: $headerFooterHeight !important;
    overflow-y: visible !important;
  }
  position: fixed;
  z-index: 1060;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  transition: opacity 0.2s ease;

  display: none;

  &.show {
    display: block;
    animation: modal-overlay-open 0.2s ease;

    .modal {
      animation: modal-open 0.2s ease;
    }
  }

  &.hiding {
    display: block;
    opacity: 0;

    .modal {
      transform: scale3d(0.9, 0.9, 1);
    }
  }
}

.modal {
  border: 1px solid $grey-light-4;
  border-radius: $base-border-radius;
  box-shadow: 0 16px 40px 0 rgba(0, 0, 0, 0.1);
  z-index: 1050;
  background-color: #ffffff;

  margin: 0 auto;
  max-width: 568px;
  width: 100%;

  // Only apply to small - full screen modal
  @include breakpoint(small only) {
    max-width: 100% !important;
    height: 100vh !important;
  }

  transition: transform 0.2s ease;

  &.small {
    width: 100%;
    max-width: 20em;
  }

  &.medium {
    width: 100%;
    max-width: 40em;
  }

  &.large {
    width: 100%;
    max-width: 60em;
  }
}

.modalHeader, .modalBody {
  padding: 20px;
  width: 100%;
}
.modalBody {
  font-size: 14px;
  input, textarea {
    font-size: 16px;
    font-weight: 600;
  }
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch !important;
  height: 50vh;
  // Only apply to small - full screen modal
  @include breakpoint(small only) {
    height: 100%;
    position: absolute;
    background: white;
  }
}

.modalHeader, .modalFooter {
  height: $headerFooterHeight;
}

.modalHeader {
  position: relative;

  h4 {
    color: $grey-dark-5;
    font-weight: 600;
    line-height: 22px;
    font-size: 22px
  }
}

.modalFooter {
  border-top: 1px solid $grey-light-4;
  padding: 15px 20px;
  text-align: right;

  button:not(:last-child) {
    margin-right: 10px;
  }

  // Only apply to small - full screen modal
  @include breakpoint(small only) {
    position: fixed;
    text-align: center !important;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
  }
}

.closeModal {
  font-size: 22px;
  line-height: 22px;
  color: #9B9B9B;
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.modalBackdrop {
  composes: modalOpened;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #FFFFFF;
  opacity: .6;
}

.modalInnerContainer {
  display: table !important;
  width: 100% !important;
  @include breakpoint(medium) {
    height: 100% !important;
  }
}

.centeringContainer {
  display: table-cell !important;
  vertical-align: middle !important;
}
