@keyframes :local(fadeInUp) {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  composes: animated;
  animation-name: fadeInUp;
  animation-duration: 500ms;
}