@import '../common';

.card {
  background-color: $card-background;
  border-radius: $base-border-radius;
  box-shadow:  0 6px 15px rgba(145, 160, 170, 0.3);
  flex-basis: 15em;
  flex-grow: 1;
  margin: 0 $card-margin $base-spacing $card-margin;
  position: relative;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  &:hover {
    box-shadow: 0 1px 4px rgba($grey, 0.5);
  }

  &:global(.primary) {
    background-color: $primary-color-light-5;
    border: 1px solid $primary-color-light-4;
    border-radius: $base-border-radius;
    color: $primary-color-dark-2;
  }
  &:global(.success) {
    background-color: $success-color-light-5;
    border: 1px solid $success-color-light-4;
    border-radius: $base-border-radius;
    color: $success-color-dark-2;
  }
  &:global(.warning) {
    background-color: $warning-color-light-5;
    border: 1px solid $warning-color-light-4;
    border-radius: $base-border-radius;
    color: $success-color-dark-2;
  }
  &:global(.danger) {
    background-color: $danger-color-light-5;
    border: 1px solid $danger-color-light-4;
    border-radius: $base-border-radius;
    color: $danger-color-dark-2;
  }
}

.card-image {
  background-color: $card-image-hover-color;
  height: 150px;
  max-height: 150px;
  overflow: hidden;

  img {
    @include border-top-radius($base-border-radius);
    opacity: 1;
    transition: all 0.2s ease-in-out;
    width: 100%;
  }
}

.card-header {
  background-color: $card-header-background;
  border-bottom: $card-border;
  border-radius: $base-border-radius $base-border-radius 0 0;
  font-weight: bold;
  line-height: 1.5em;
  padding: ($base-spacing / 3) ($base-spacing / 2);
  transition: all 0.2s ease-in-out;
}

.card-copy {
  font-size: 0.9em;
  line-height: 1.5em;
  padding: ($base-spacing / 2) ($base-spacing / 2);

  p {
    margin: 0 0 ($base-spacing / 2);
  }
}
