table.table {
  width: 100% !important;
  border-collapse: collapse;
  font-size: 14px;
  th {
    color: #979797;
    vertical-align: middle;
  }
  td, th {
    border-bottom: 1px solid #dfdfdf;
    padding: 15px 10px;
    text-align: left;

    &:first-child {
      padding-left: 25px;
    }
    &:last-child {
      padding-right: 25px;
    }
  }
}
