@import "~bourbon/app/assets/stylesheets/bourbon";

///Base colors
$base-background-color: white !default;

$primary-color: #4abbf3;
$success-color: #89d5ac;
$warning-color: #ffe21b;
$danger-color: #e33e3e;

//basic
$white: #fff;
$black: #000;
$grey: #979797;

// Colors
//primary
$primary-color-dark-20: darken($primary-color, 20%);
$primary-color-dark-40: darken($primary-color, 40%);
$primary-color-dark-60: darken($primary-color, 60%);
$primary-color-dark-80: darken($primary-color, 80%);
$primary-color-dark-100: darken($primary-color, 100%);

$primary-color-light-20: lighten($primary-color, 20%);
$primary-color-light-40: lighten($primary-color, 40%);
$primary-color-light-60: lighten($primary-color, 60%);
$primary-color-light-80: lighten($primary-color, 80%);
$primary-color-light-100: lighten($primary-color, 100%);

//grey
$grey-dark-20: darken($grey, 20%);
$grey-dark-40: darken($grey, 40%);
$grey-dark-60: darken($grey, 60%);
$grey-dark-80: darken($grey, 80%);
$grey-dark-100: darken($grey, 100%);

$grey-light-20: lighten($grey, 20%);
$grey-light-40: lighten($grey, 40%);
$grey-light-60: lighten($grey, 60%);
$grey-light-80: lighten($grey, 80%);
$grey-light-100: lighten($grey, 100%);

//success
$success-color-dark-20: darken($success-color, 20%);
$success-color-dark-40: darken($success-color, 40%);
$success-color-dark-60: darken($success-color, 60%);
$success-color-dark-80: darken($success-color, 80%);
$success-color-dark-100: darken($success-color, 100%);

$success-color-light-20: lighten($success-color, 20%);
$success-color-light-40: lighten($success-color, 40%);
$success-color-light-60: lighten($success-color, 60%);
$success-color-light-80: lighten($success-color, 80%);
$success-color-light-100: lighten($success-color, 100%);

//warning
$warning-color-dark-20: darken($warning-color, 20%);
$warning-color-dark-40: darken($warning-color, 40%);
$warning-color-dark-60: darken($warning-color, 60%);
$warning-color-dark-80: darken($warning-color, 80%);
$warning-color-dark-100: darken($warning-color, 100%);

$warning-color-light-20: lighten($warning-color, 20%);
$warning-color-light-40: lighten($warning-color, 40%);
$warning-color-light-60: lighten($warning-color, 60%);
$warning-color-light-80: lighten($warning-color, 80%);
$warning-color-light-100: lighten($warning-color, 100%);

//danger
$danger-color-dark-20: darken($danger-color, 20%);
$danger-color-dark-40: darken($danger-color, 40%);
$danger-color-dark-60: darken($danger-color, 60%);
$danger-color-dark-80: darken($danger-color, 80%);
$danger-color-dark-100: darken($danger-color, 100%);

$danger-color-light-20: lighten($danger-color, 20%);
$danger-color-light-40: lighten($danger-color, 40%);
$danger-color-light-60: lighten($danger-color, 60%);
$danger-color-light-80: lighten($danger-color, 80%);
$danger-color-light-100: lighten($danger-color, 100%);

//FORM
$select-focus: $primary-color;
$button-background-focus: lighten($primary-color, 4%) !default;

//TEXT RELATE VARIABLES

//BASE TEXT COLORS
$base-font-color: $grey-dark-80;
$base-link-color: $primary-color;

//FONT STACK
$font-stack: 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue', 'Droid Sans', Helvetica, Arial, sans-serif;
$base-font-family: $font-stack;
$header-font-family: $font-stack;

//FONT SIZES
$base-font-size: 14px;
$h1-font-size: 38px;
$h2-font-size: 27px;
$h3-font-size: 20px;
$h4-font-size: 14px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$small-font-size: 12px;
$tiny-font-size: 10px;

//LINE HEIGHTS
$base-line-height: 1.5;
$header-line-height: 1.35;

//FONT WEIGHT SCALE
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;

//Break Points

$xsmall:                    em(320px);
$small:                     em(640px);
$normal:                    em(960px);
$medium:                    em(1024px);
$large:                     em(1440px);
$xlarge:                    em(1920px);

//Border Radii
$base-border-radius:        3px;
$round-border-radius:       50%;

//Spacing
$base-spacing:              30px;
$base-padding:              20px;

//Border
$base-border-color:         $grey-light-80;
$base-border:               1px solid $base-border-color;
$quote-border-left:         $primary-color;

//Icon Stack
$icon-stack:'Stax-Iconset';

//Form
$input-hover-bg:            rgba($primary-color, .02);
$input-success-shadow:      rgba($success-color, .5);

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: $white !default;
$input-error-color: $danger-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $primary-color !default;
$input-font-size: 1rem !default;
$input-margin: 0 0 15px 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: $grey-light-80 !default;

// Radio Buttons
$radio-fill-color: $primary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid lighten($primary-color, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;

// Switches
$switch-bg-color: $primary-color !default;
$switch-checked-lever-bg: desaturate(lighten($primary-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;
$switch-radius: 15px !default;

//Dropdown
$dropdown-bg-color: $white !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $primary-color !default;
$dropdown-item-height: 50px !default;


//Card
$card-border-color: $base-border-color;
$card-border: 1px solid $card-border-color;
$card-background: lighten($card-border-color, 10%);
$card-header-background: $card-background;
$card-margin: 1em;
$card-image-hover-opacity: 0.7;
$card-image-hover-color: #F8F2B4;

//Grid
$gutter-width: 1.5rem !default;


// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;
