@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~react-foundation-components/lib/typography";
@import "colors";

//FORM
$select-focus: $primary-color;
$button-background-focus: tint($primary-color, 4%) !default;

//TEXT RELATE VARIABLES

//BASE TEXT COLORS
$base-font-color: $grey-dark-4;
$base-link-color: $primary-color;

//FONT STACK
$font-stack: 'OpenSans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Helvetica Neue', 'Droid Sans', Helvetica, Arial, sans-serif;
$base-font-family: $font-stack;
$header-font-family: $font-stack;

//FONT SIZES
$base-font-size: 14px;
$h1-font-size: 38px;
$h2-font-size: 27px;
$h3-font-size: 20px;
$h4-font-size: 14px;
$h5-font-size: 14px;
$h6-font-size: 12px;
$small-font-size: 12px;
$tiny-font-size: 10px;

//LINE HEIGHTS
$base-line-height: 1.5;
$header-line-height: 1.35;

//FONT WEIGHT SCALE
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 800;

//Border Radii
$base-border-radius:        3px;
$round-border-radius:       50%;

//Spacing
$base-spacing:              30px;
$base-padding:              20px;

//Border
$base-border-color:         $grey-light-4;
$base-border:               1px solid $base-border-color;
$quote-border-left:         $primary-color;

//Icon Stack
$icon-stack:'Stax-Iconset';

//Form
$input-hover-bg:            rgba($primary-color, .02);
$input-success-shadow:      rgba($success-color, .5);

// Text Inputs + Textarea
$input-height: 3rem !default;
$input-border-color: color("grey", "base") !default;
$input-border: 1px solid $input-border-color !default;
$input-background: $white !default;
$input-error-color: $danger-color !default;
$input-success-color: $success-color !default;
$input-focus-color: $primary-color !default;
$input-font-size: 1rem !default;
$input-margin: 0 0 15px 0 !default;
$input-padding: 0 !default;
$input-transition: all .3s;
$label-font-size: .8rem !default;
$input-disabled-color: rgba(0,0,0, .26) !default;
$input-disabled-solid-color: #BDBDBD !default;
$input-disabled-border: 1px dotted $input-disabled-color !default;
$input-invalid-border: 1px solid $input-error-color !default;
$placeholder-text-color: $grey-light-4 !default;

// Radio Buttons
$radio-fill-color: $primary-color !default;
$radio-empty-color: #5a5a5a !default;
$radio-border: 2px solid $radio-fill-color !default;

// Range
$range-height: 14px !default;
$range-width: 14px !default;
$track-height: 3px !default;

// Select
$select-border: 1px solid #f2f2f2 !default;
$select-background: rgba(255, 255, 255, 0.90) !default;
$select-focus: 1px solid tint($primary-color, 47%) !default;
$select-padding: 5px !default;
$select-radius: 2px !default;
$select-disabled-color: rgba(0,0,0,.3) !default;

// Switches
$switch-bg-color: $primary-color !default;
$switch-checked-lever-bg: desaturate(tint($primary-color, 25%), 25%) !default;
$switch-unchecked-bg: #F1F1F1 !default;
$switch-unchecked-lever-bg: #818181 !default;
$switch-radius: 15px !default;

//Dropdown
$dropdown-bg-color: $white !default;
$dropdown-hover-bg-color: #eee !default;
$dropdown-color: $primary-color !default;
$dropdown-item-height: 50px !default;


//Card
$card-border: 1px transparent;
$card-background: white;
$card-header-background: $card-background;
$card-margin: 1em;
$card-image-hover-opacity: 0.7;
$card-image-hover-color: #F8F2B4;

//Grid
$gutter-width: 1.5rem !default;
