
.spinner {
  margin: 50px;
  height: 50px;
  width: 50px;
  animation: rotate 0.6s infinite linear;
  border: 8px solid black;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes :local(rotate) {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}