@import "../variables";
// Styling for input field wrapper
.inputField {
  position: relative;

  // General Styles
  background-color: transparent;
  border: none;
  border-bottom: $base-border;
  border-radius: 0;
  outline: none;
  height: $input-height;
  width: 100%;
  font-size: $input-font-size;
  margin: $input-margin;
  padding: $input-padding;
  box-shadow: none;
  box-sizing: content-box;
  transition: $input-transition;

  label {
    color: $grey-light-4;
    position: absolute;
    top: 0.8rem;
    left: $gutter-width / 2;
    font-size: 1rem;
    cursor: text;
    transition: .2s ease-out;
  }

  // Focused input style
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-focus-color;
    box-shadow: 0 1px 0 0 $input-focus-color;
  }

  // Focused label style
  &:focus:not([readonly])+label {
    color: $input-focus-color;
  }

  // Form Message Shared Styles
  & + label:after {
    display: block;
    content: "";
    position: absolute;
    top: 65px;
    opacity: 0;
    transition: .2s opacity ease-out, .2s color ease-out;
  }
}

// Valid Input Style
.success {
  border-bottom: 1px solid $input-success-color;
  box-shadow: 0 1px 0 0 $input-success-color;
  &:focus:not([readonly]) {
    border-bottom: 1px solid $input-success-color;
    box-shadow: 0 1px 0 0 $input-success-color;
  }
  // Custom Success Message
  & + label:after,
  &:focus:not([readonly]) + label:after {
    content: attr(data-success);
    color: $input-success-color;
    opacity: 1;
  }
}

// Invalid Input Style
.invalid {
  border-bottom: $input-invalid-border;
  box-shadow: 0 1px 0 0 $input-error-color;
  &:focus:not([readonly]) {
    border-bottom: $input-invalid-border;
    box-shadow: 0 1px 0 0 $input-error-color;
  }

  // Custom Error message
  & + label:after,
  &:focus:not([readonly]) + label:after {
    content: attr(data-error);
    color: $input-error-color;
    opacity: 1;
  }
}

.disabled {
  // Disabled input style
  &:disabled,
  &[readonly="readonly"] {
    color: $input-disabled-color;
    border-bottom: $input-disabled-border;
  }

  // Disabled label style
  &:disabled+label,
  &[readonly="readonly"]+label {
    color: $input-disabled-color;
  }
}